<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    <header>
      <div class="container">
          <h1><a href='/'>{{ site.name }}</a></h1>
        <h2></h2>
        <section id="downloads">
          <a href="https://github.com/bitrho" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
          {{ content }}
      </section>
    </div>

    <script type="text/javascript" src="{{site.baseurl}}/public/js/prettify.min.js">
    $(function() {
       window.prettyPrint && prettyPrint();
    });
    $(function() {
      $('pre').addClass('prettyprint linenums').attr('style', 'overflow:auto');
    });
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-55765047-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
  </body>
</html>
